<!DOCTYPE HTML>
<html>
<head>
  <title>Cloud Foundry</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="contentWrapper">
  <div class= "blue-b">
    <div class="inside-nav">
      <div class="logo">
        <img src="<%= asset_path 'logo.png' %>">
      </div>
      <div id="nav">
        <ul>
          <li class="<%= params[:action].eql?('ruby_docs') ? 'selected' : '' %>">
            <a>Ruby</a>
            <ul>
              <li>
                <%= link_to 'Sinatra', sinatra_path() %>
              </li>

              <li>
                <%= link_to 'Ruby On Rails', ruby_on_rails_path() %>

              </li>
              <div class="clr"></div>
            </ul>
          </li>
          <li class="<%= params[:action].eql?('sts_docs') ? 'selected' : '' %>">
            <%= link_to 'STS', spring_tool_suite_path() %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class= "mc-a">
    <%= yield %>
  </div>
</div>
<%= render :partial => "layouts/footer" %>
</body>
</html>